@font-face {
    font-family: 'Novecentos-DemiBold';
    src: local('Novecentos-DemiBold'), url(../fonts/Novecentosanswide-DemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Toyota-DisplayRegular';
    src: local('Toyota-DisplayRegular'), url(../fonts/TOYOTADISPLAY-REGULAR.TTF) format('opentype');
}

@font-face {
    font-family: 'Toyota-DisplayBold';
    src: local('Toyota-DisplayBold'), url(../fonts/TOYOTADISPLAY-BOLD.TTF) format('opentype');
}

@font-face {
    font-family: 'Radikal-Medium';
    src: local('Radikal-Medium'), url("../fonts/Nootype - Radikal-Medium.otf") format('opentype');
}

@font-face {
    font-family: 'Radikal-Light';
    src: local('Radikal-Light'), url("../fonts/Nootype - Radikal-Light.otf") format('opentype');
}

@font-face {
    font-family: 'Radikal-Bold';
    src: local('Radikal-Bold'), url("../fonts/Nootype - Radikal Bold.otf") format('opentype');
}

@font-face {
    font-family: 'Radikal-Medium';
    src: local('Radikal-Medium'), url("../fonts/Nootype - Radikal-Medium.otf") format('opentype');
}

.navbar .navbar-nav .nav-link {
    color: #817F7F;
    font-size: 0.9em;
    padding: 20px;
    font-family: 'Novecentos-DemiBold';

}

.navbar-logo-centered .navbar-nav .nav-link {
    padding: .5em 1em;

}

.bannerhome {
    width: 100%;
}

.navbar .navbar-nav .nav-link:hover {
    color: #E20B2A;
}

.navbar {
    height: 100px;
}

.navbar-nav {
    justify-content: space-between !important;
    width: 100% !important;
}

#menu-producto {
    background: #000;
    height: 56px;
    display: flex;
    align-items: center;
}

#menu-producto ul>li {

    color: #ffffff;
    text-decoration: none;
    font-family: 'Novecentos-DemiBold';
    text-decoration: none;
    display: inline-block;

}

#menu-producto ul>li>a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Novecentos-DemiBold';
    text-decoration: none;
    display: inline-block;
}

.plmenu {
    padding-left: 60px;
}

#menu-producto div ul {
    margin-bottom: 0px;
}

.video-cart {
    padding-left: 0px;
    padding-right: 0px;
}

.content-video {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.content_features {
    margin-top: -370px;
    padding-left: 60px;
}

.img-logo-feature {
    width: 160px;
}

.img-icono-feature {
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.img-icono-feature-frenos {
    width: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.img-icono-feature-motor {
    width: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.titulo-feature {
    font-family: 'Toyota-DisplayRegular';
    color: #ffffff;
    text-decoration: underline;
    font-size: 32px;
}

.text-feature {
    font-family: 'Radikal-Medium';
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtext-feature {
    font-family: 'Radikal-Light';
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.text-feature-version {
    font-family: 'Radikal-Bold';
    color: #fff;
    display: inline-block;
    padding-left: 10px;
}

#menu-producto {
    background: #000;
    height: 56px;
    display: flex;
    align-items: center;
}

#menu-producto ul>li {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Novecentos-DemiBold';
    text-decoration: none;
    display: inline-block;
}

#menu-producto ul>li>a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Novecentos-DemiBold';
    text-decoration: none;
    display: inline-block;
}

.plmenu {
    padding-left: 60px;
}

.cp {
    cursor: pointer;
}

.text-color-diseno {
    text-align: center;
    font-weight: 600;
}

.text-color-diseno2 {
    text-align: center;
    font-weight: 600;
    color: #000 !important;
    font-size: 28px;
    font-family: 'Toyota-DisplayBold';
}

.text-color-tecnologia {
    color: #000;
}

.icono-color {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.icono-color:hover {
    opacity: 0.9;
}

#diseno {
    padding-top: 100px;
    margin-bottom: 60px;
}

.btn-cotizar {

    border: 1px solid #E50021;
    background: #E50021;
    border-radius: 19px;
    width: 247px;
    font-family: 'Toyota-DisplayRegular';
    color: #fff
}

.text-cotizar {
    font-family: 'Radikal-Medium';
    font-size: 22px;
    color: #817F7F;
    max-width: 360px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.content-cotizar {
    margin-top: 20px;
    margin-bottom: 50px;
}

.text-descargar-catalogo {
    font-family: 'Toyota-DisplayRegular';
    font-size: 16px;
    color: #B9BFC1;
    cursor: pointer;
}

.secciones-subtitulos {

    font-family: 'Toyota-DisplayBold';
    color: #817F7F;
    font-size: 24px;
}

#menu-galeria {
    text-align: center;
    margin-top: 20px;
    padding-left: 0px;
}

ul#menu-galeria>li {
    display: inline-block;
    text-decoration: none;
    padding-left: 80px;
}

ul#menu-galeria>li>span {
    cursor: pointer;
    color: #817F7F;
    font-size: 16px;
    margin-top: 40px;
}

#bwg_container1_1 #bwg_container2_1 .bwg-container-1.bwg-standard-thumbnails {

    justify-content: left !important;

}

#tecnologia {
    margin-top: 20px;
    margin-bottom: 20px;
}

.icono-tecnologia {
    display: block;
    margin: 0 auto;
}

.text-color-tecnologia {
    display: block;
    text-align: center;
    color: #000;
    font-family: 'Toyota-DisplayBold';
    font-size: 28px;
    margin-bottom: 40px;
}

.text-tecnologia {
    display: block;
    text-align: center;
    color: #817F7F;
    max-width: 340px;
    font-family: 'Radikal-Medium';
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
}

.fuente-black {
    color: #000;
    font-family: 'Radikal-Medium';
    font-size: 18px;
}

.img-footer {
    margin-top: 80px;
    width: 100%;
}


.pd100 {
    padding-left: 100px;
    padding-right: 100px;
}

.pd {
    padding: 50px;
    padding-bottom: 100px;
}

.titulo-galeria {
    margin-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
}

.pestana-galeria {
    padding-left: 0px;
    padding-right: 0px;
}

.pestana-cuerpo-galeria {
    padding-left: 0px;
    padding-right: 0px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.contenedortabs {
    display: flex;
    height: 400px;
    align-items: center;
    flex-direction: column;
}

.swiper-slide {

    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



.titulotabs {
    font-family: 'Toyota-DisplayRegular';
    font-size: 32px;
    margin-top: 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #E50021 !important;

    background-color: transparent !important;
    border: 0px;
    font-family: 'Novecentos-DemiBold';

}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none !important;
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    font-family: 'Novecentos-DemiBold';
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #817F7F;
}

.nav-tabs {
    border: 0px !important;

}

.imagencarro {
    width: 100%;
}

.pslidercarro {
    font-family: 'Toyota-DisplayRegular';
    color: #000;
    text-transform: uppercase;
}

.textoabajo {
    display: flex;
    align-items: baseline;
    jUSTIFY-CONTENT: flex-end;
    FLEX-DIRECTION: column;
}

.carddetallesslider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mySwiper {
    background-size: cover;
    background-position: center;
}

.slider-cars {
    background: transparent;
}

.border-right-slider {
    border-right: 2px solid #817F7F;
}

.btnslider {
    background-color: #E20B2A;
    color: #fff;
    font-size: 12px;
    border: none;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Toyota-DisplayBold';

}

.vertodos {
    font-family: 'Toyota-DisplayRegular';
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
}

.rendimientoslider {
    font-family: 'Toyota-DisplayBold';
    color: #817F7F;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;

}

.logoslider {
    width: 100%;
}

.fraseizq {
    width: 250px;
    padding: 20px;
}

.Tbanner {
    font-size: 50px;
    font-family: 'Toyota-DisplayBold';
    color: #000;
    text-transform: uppercase;
}

.contenido-slider {
    margin-top: 80px;
}

.Textobanner {
    font-family: 'Toyota-DisplayBold';
    font-size: 28px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.tfooter {
    font-family: 'Novecentos-DemiBold';
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.lifooter {
    padding: 0px;
}

.footersup {
    padding-top: 20px;
    background-color: #817f7f;
    padding-left: 60px;
    padding-right: 60px;

}

.footerdown {
    background-color: #b9bfc1;
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 60px;
}

.spango {
    color: #E20B2A;
}

.iconsearch {
    padding-right: 5px;
}

.btn-raize {
    text-transform: uppercase;
    background-color: #E20B2A;
    margin-bottom: 20px;
    border: 0px;
    /* padding: 20px; */
    font-family: 'Toyota-DisplayBold';
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
}

.btnhome {
    display: flex;
    justify-content: center;
    align-self: center;
}

.mtopbanner {
    margin-top: 100px;
}

.lifooter li {
    text-decoration: none;
    list-style: none;
    font-family: 'Toyota-DisplayRegular';
    text-transform: capitalize;
    color: #fff;
}

.firtslide {
    width: 30% !important;
}

.rojo {
    color: #E20B2A;
}


.ocultar {
    display: none;
}

.nopadding {
    padding: 2px !important;
}

.logo-exonerados {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-exonerados {
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
    margin-top: 40px;
    /* font family radikal regular */
}

.mb40 {
    margin-bottom: 40px;
}

.titulo-teconologia {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 100px
}

.sin-padding-lr {
    padding-left: 0px;
    padding-right: 0px;
}

.fuente-black {
    color: #000;
    font-family: 'Radikal-Medium';
    font-size: 18px;
}

.text-color-tecnologia {
    display: block;
    text-align: center;
    color: #000;
    font-family: 'Toyota-DisplayBold';
    font-size: 28px;
    margin-bottom: 40px;
    margin-top: 80px;
}

.text-tecnologia {
    display: block;
    text-align: center;
    color: #817F7F;
    max-width: 340px;
    font-family: 'Radikal-Medium';
    font-size: 18px;
    margin: 0 auto;

}

.icono-tecnologia {
    display: block;
    margin: 0 auto;
}

.contenedor-cta-testdrive {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #ffffff;
    height: 600px;
}

.contenedor-cta-cotizar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E50021;
    color: #ffffff;
    height: 600px;
}

.contenedor-cta {
    height: auto;
}

a#btn-testdrive {
    background: #000;
    padding: 4px 10px;
    text-transform: uppercase;
    font-size: 24px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-top: 80px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 300px;
    position: relative;
    bottom: -60px;
    font-family: 'Radikal-Medium';

}

a#btn-cotizar {
    background: #E50021;
    padding: 4px 10px;
    text-transform: uppercase;
    font-size: 24px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 300px;
    position: relative;
    bottom: -60px;
    font-family: 'Radikal-Medium';

}

.iconos-cta {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.contenedor-cta p {
    padding: 5% 20%;
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    font-family: 'Radikal-Medium';
}

.btn-cotizar {

    border: 1px solid #E50021 !important;
    background-color: #E50021 !important;
    border-radius: 19px !important;
    width: 247px !important;
    font-family: 'Toyota-DisplayRegular' !important;
    color: #ffffff !important;

}

.text-cotizar {
    font-family: 'Radikal-Medium';
    font-size: 22px;
    color: #817F7F;
    max-width: 360px;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #fff;
    cursor: pointer;
}

.carrobanner {
    width: 100%;
}

.hrfooter {
    width: 100%;
    color: #fff !important;
    background-color: #fff;
    height: 1px;
}

.input-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
}

.inputemail {
    background: no-repeat;
    border: 0;
    border-bottom: 1px solid #fff;
    font-family: 'Toyota-DisplayRegular';
    color: #fff;
    width: 100%;
}

.inputemail:focus-visible {
    outline: none;
}

.inputemail::placeholder {
    color: #fff;
}

.form-check {
    align-self: baseline;
}

.input-wrapper:after {
    font-family: 'FontAwesome';
    content: '\f0e0';
    color: #fff;
    position: absolute;
    right: 5px;
    top: 2px;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-check-input {
    position: absolute;
    margin-top: .4rem;
    margin-left: -1.25rem;
}

.form-check-label {
    margin-bottom: 0;
    color: #fff;
    font-family: 'Toyota-DisplayRegular';
    font-size: 12px;
}

.spanckeck {
    font-weight: bold;
}

.cart-imagen-caracteristica{
    display: block;
    margin: 0 auto;
}

.cart-titulo-caracteristicas{
    font-family: 'Radikal-Bold';
    font-size: 44px;
    font-weight: bold;
}

.cart-texto-caracteristicas{
    font-family: 'Radikal-Medium';
    font-size: 18px;
}

ul.cart-item-caracteristicas{
    font-family: 'Radikal-Medium';
    font-size: 18px;
}
