#menu-producto {
    background: #000;
    height: 56px;
    display: flex;
    align-items: center;
  }

#menu-producto ul > li {

    color: #ffffff;
    text-decoration: none;
    font-family: 'Novecentos-DemiBold';
    text-decoration: none;
    display: inline-block;

}

#menu-producto ul > li > a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Novecentos-DemiBold';
    text-decoration: none;
    display: inline-block;
  }

.plmenu {
    padding-left: 60px;
}

#menu-producto div ul{
    margin-bottom: 0px;
}

.video-cart{
    padding-left: 0px;
    padding-right: 0px;
}

.content-video{
    padding-left: 0px;
    padding-right: 0px; 
    height: 80vh;
}

.content-features{
    margin-top: -340px;
    padding-left: 100px;
}

.img-logo-feature{
    width: 160px;
}

.img-icono-feature{
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.img-icono-feature-frenos{
    width: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.img-icono-feature-motor{
    width: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.titulo-feature{        
    font-family: 'Toyota-DisplayRegular';
    color: #ffffff;
    text-decoration: underline;
    font-size: 32px;
}

.text-feature{
    font-family: 'Radikal-Medium';
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtext-feature{
    font-family: 'Radikal-Light';
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.text-feature-version{
    font-family: 'Radikal-Bold';
    color: #fff;
    display: inline-block;
    padding-left: 10px;
}

#menu-producto{
    background: #000;
    height: 56px;
    display: flex;
    align-items: center;
}

#menu-producto ul > li{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Novecentos-DemiBold';
    text-decoration: none;
    display: inline-block;
}

#menu-producto ul > li > a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Novecentos-DemiBold';
    text-decoration: none;
    display: inline-block;
}

.plmenu{
    padding-left: 60px;
}

.cp{
    cursor: pointer;
}

.text-color-diseno{
    text-align: center;
    font-weight: 600;
}

.text-color-diseno2{
    text-align: center;
    font-weight: 600;
    color: #000 !important;
    font-size: 28px;
    font-family: 'Toyota-DisplayBold';
}

.text-color-tecnologia{
    color: #000;
}

.icono-color{
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.icono-color:hover{
    opacity: 0.9;
}

#diseno{
    padding-top: 100px;
    margin-bottom: 60px;
}

.btn-cotizar{

    border: 1px solid #E50021;
    background: #E50021;
    border-radius: 19px;
    width: 247px;
    font-family: 'Toyota-DisplayRegular';
    color:#fff
   
}

.text-cotizar{
    font-family: 'Radikal-Medium';
    font-size: 22px;
    color:#817F7F;
    max-width: 360px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.content-cotizar{
    margin-top: 20px;
    margin-bottom: 50px;
}

.text-descargar-catalogo{
    font-family: 'Toyota-DisplayRegular';
    font-size: 16px;
    color: #B9BFC1;
    cursor: pointer;
}

.secciones-subtitulos{

   font-family: 'Toyota-DisplayBold';
   color: #817F7F;
   font-size: 24px;
}

#menu-galeria{
    text-align: center;
    margin-top: 20px;
    padding-left: 0px;
}

ul#menu-galeria > li{
    display: inline-block;
    text-decoration: none;
    padding-left: 80px;
}

ul#menu-galeria > li > span{
    cursor: pointer;
    color: #817F7F;
    font-size: 16px;
    margin-top: 40px;
}

#bwg_container1_1 #bwg_container2_1 .bwg-container-1.bwg-standard-thumbnails {

    justify-content: left !important;

}

#tecnologia{
    margin-top: 20px;
    margin-bottom: 20px;
}

.icono-tecnologia{
    display: block;
    margin: 0 auto;
}

.text-color-tecnologia {
   display: block;
   text-align: center;
   color: #000;
   font-family: 'Toyota-DisplayBold';
   font-size: 28px;
   margin-bottom: 40px;
}

.text-tecnologia{
   display: block;
   text-align: center;
   color: #817F7F;
   max-width: 340px;
   font-family: 'Radikal-Medium';
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
}

.fuente-black{
    color: #000;
    font-family: 'Radikal-Medium';
    font-size: 18px;
}